.content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  
}
.circle{
 
  height: 400px;
  width: 400px;
  background: blue;
  z-index: 1;

  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;

}
.circle2{
 
  height: 400px;
  width: 400px;
  background: rgb(255, 123, 0);
  z-index: 1;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 20px;

}
.content::before{
  z-index: 2;
  content: "";
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(200px);

  position: absolute;
  top: 0;
  left: 0;

}
.contentbox{
  z-index: 100;
  border: 2px solid rgb(232, 154, 145);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  text-align: start;
 border-radius: 20px;
 color: #ffffff;
}
 .title {
    font-size: large;
  }
 
  .btn{
    background-image: linear-gradient(#7aa4de,#686cee)!important;
    border: none !important;
    outline :none!important;
    border-radius:  5rem!important;
    padding: 1em 2em!important;
    letter-spacing: normal!important;
    line-height: inherit!important;
    min-width: unset!important;
    max-width:unset!important;
    height: fit-content!important;
    width:fit-content!important;
    overflow: hidden!important;
    white-space: nowrap!important;
    vertical-align: middle!important;
    cursor: pointer ;
    transition:.8s ease all!important;
    
  }
  .btn:hover{
    transform: scale(.97) translateY(-6px)!important;
    box-shadow: rgba(255, 171, 0,.4);
    -webkit-transform: translateZ(0);
    backface-visibility: visible;

  }